nav {
  list-style-type: none;
  width: 100%;
  background-color: #386;
  top: 0;
  left: 0;
  position: fixed;
}

li a{
  color: #16;
  text-decoration: none;
  display: block;
  float: left; 
  padding: 20px 50px;
}

li a:hover {
  background-color: purple;
  color: black;
}

body {
h2{
  color: green;
  text-shadow: 2px 1px; 
  text-decoration-line: underline;
  text-decoration-color: blue;
  text-decoration-style: dotted;
  font-family: "Lucida Console", "Courier New", monospace;
}

img:hover {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
 }
  background-color: #794654;
  }
body {

}
